{% extends "base.html" %}
{% block title %}Ace of Steaks - Login{% endblock %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h2>Sign In</h2>
<div class="window">
  <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    <div class="tab-content">
        <div id="details" class="tab-pane fade in active show">
            <form id="register-form" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form.as_p }}
              {% if redirect_field_value %}

                {% endif %}
                <button type="submit" class="btn btn-action" onclick="submit()"
                    value="Reset form">Log In</button>
            </form>
        </div>
    </div>
</div>

{%endblock%}