{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h2>Register</h2>

<div class="window">
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    <div class="tab-content">
        <div id="details" class="tab-pane fade in active show">
            <form id="register-form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <label for="fname" class="form-label">First Name:</label>
                <input type="text" class="form-input" id="fname" name="fname" required>

                <label for="lname" class="form-label">Last Name:</label>
                <input type="text" class="form-input" id="lname" name="lname" required>

                <label for="email" class="form-label">Email Address:</label>
                <input type="email" class="form-input" id="email" name="email" required>
                <!-- {{ form.email }} -->

                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-input" id="password" name="password" required>
                {% endif %}
                <button type="submit" class="btn btn-action" onclick="submit()"
                    value="Reset form">Create account</button>
            </form>
        </div>
    </div>
</div>

{%endblock%}