{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h2>Register</h2>

<div class="window">
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    <div class="tab-content">
        <div id="details" class="tab-pane fade in active show">
            <form id="register-form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-action" onclick="submit()"
                    value="Reset form">Create account</button>
            </form>
        </div>
    </div>
</div>

{%endblock%}



