@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.col-3 {
  background-color: chocolate;
}

body {
  font-size: 100%;
  font-family: 'montserrat', sans-serif;
  font-weight: lighter;
  color: #000000;
}

/* Logo */

.logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    letter-spacing: 15px;
    color: #CCA232;
    text-align: center;
    position: relative;

}

hr.logo-bar {
    border: 3px solid #C0C0C0;
    width: 180px;
}

/* Logo */

/* Links */

a {
  color: #000000;
}

a:hover {
  color: #000000;
  border-bottom: 3px solid #C0C0C0;
}

/* Links */

/* Navbar */

.nav-item {
  margin: 10px 0 10px 0;
  text-decoration: none;
}

.opening-times-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
  letter-spacing: 10px;
  color: #CCA232;
  text-align: center;
  position: relative;
}

.opening-times {
text-align: center;
}
/* Navbar */