{% extends "base.html" %}

{% block content %}
<h2>Book a table</h2>
<div class="window">
    <div class="tab-content">
        <div id="details" class="tab-pane fade in active show">
            <form id="booking-form" action="" method="POST">
                <!-- onsubmit="return sendMail(this);"> -->
                {% csrf_token %}
                <ul class="booking-list">

                    <li id="location" class="form-input">{{ form.username }}</li>
                    <!-- <li id="location" class="form-input">{{ form.reference }}</li> -->


                    <label for="location" class="form-label">Location:</label>
                    <li id="location" class="form-input">{{ form.location }}</li>

                    <label for="date_time" class="form-label">Date & Time:</label>
                    <li id="date_time" class="form-input">{{ form.date }}</li>

                    <label for="guests" class="form-label">Number of guests:</label>
                    <li id="guests" class="form-input">{{ form.quantity }}</li>

                    <label for="fname" class="form-label">First Name:</label>
                    <li id="fname" class="form-input">{{ form.fname }}</li>

                    <label for="lname" class="form-label">Last Name:</label>
                    <li id="lname" class="form-input">{{ form.lname }}</li>

                    <label for="email" class="form-label">Email Address:</label>
                    <li id="email" class="form-input">{{ form.email }}</li>

                </ul>
                <button type="submit" class="btn btn-booking-table" value="submit">Submit Booking</button>
            </form>

        </div>


    </div>
</div>

{%endblock%}





<form id="booking-form" action="" method="POST">
    <!-- onsubmit="return sendMail(this);"> -->
    {% csrf_token %}
    <ul class="contactList">

        <li id="location" class="form-input">{{ form.username }}</li>
        <li id="location" class="form-input">{{ form.reference }}</li>


        <label for="location" class="form-label">Location:</label>
        <li id="location" class="form-input">{{ form.location }}</li>

        <label for="date_time" class="form-label">Date & Time:</label>
        <li id="date_time" class="form-input">{{ form.date }}</li>

        <label for="guests" class="form-label">Number of guests:</label>
        <li id="guests" class="form-input">{{ form.quantity }}</li>

        <label for="fname" class="form-label">First Name:</label>
        <li id="fname" class="form-input">{{ form.fname }}</li>

        <label for="lname" class="form-label">Last Name:</label>
        <li id="lname" class="form-input">{{ form.lname }}</li>

        <label for="email" class="form-label">Email Address:</label>
        <li id="email" class="form-input">{{ form.email }}</li>

    </ul>
    <button type="submit" class="btn btn-booking-table" value="submit">Submit Booking</button>
</form>
