{% extends "base.html" %}
{% block title %}Ace of Steaks - Book a table{% endblock %}
{% block content %}

<h2>Book a table</h2>

<div class="window">

    {% if booking_count == 0 %}

    <form id="booking-form" action="" method="POST" onsubmit="return sendMail(this);">
        {% csrf_token %}
        <ul class="booking-list">

            {{ form.username }}

            <label for="location" class="form-label">Location:</label>
            <li id="location" class="form-input">{{ form.location }}</li>

            <label for="date_time" class="form-label">Date & Time:</label>
            <li id="date_time" class="form-input">{{ form.date }}</li>

            {% for error in form.date.errors %}
            <p>{{ error }}</p>
            {% endfor %}

            <label for="guests" class="form-label">Number of guests:</label>
            <li id="guests" class="form-input">{{ form.quantity }}</li>

            <label for="fname" class="form-label">First Name:</label>
            <li id="fname" class="form-input">{{ form.fname }}</li>

            <label for="lname" class="form-label">Last Name:</label>
            <li id="lname" class="form-input">{{ form.lname }}</li>

            <label for="email" class="form-label">Email Address:</label>
            <li id="email" class="form-input">{{ form.email }}</li>

        </ul>

        <button type="submit" class="btn btn-action">Submit Booking</button>
        {% else %}

        <p>There is already a booking in your account.</p>
        <p> Please manage your existing booking.</p>

        <a href="{% url 'manage_booking' %}"><button class="btn btn-action">Manage booking</button>
        </a>
        {% endif %}
    </form>

</div>

<!-- <script src="/static/scripts/SendEmail.js"></script> -->

<script>
    var username = "{{ user.id }}";
    document.getElementById("user_id").value = username;

    var email = "{{ user.email }}";
    document.getElementById("user_email").value = email;

    var fname = "{{ user.first_name }}";
    document.getElementById("user_first_name").value = fname;

    var lname = "{{ user.last_name }}";
    document.getElementById("user_last_name").value = lname;

    var booking_date = document.getElementById("date_id")

</script>

<script>

function sendMail() {



    var templateParams = {
    fname: fname,
    email: email,
    booking_location: document.getElementById('id_location').value,
    booking_date: booking_date.value,
    guests: document.getElementById("id_quantity").value,
};

console.log('SUCCESS!', fname, lname, email, booking_location, guests);

    emailjs.send("service_hc7jbil", "template_kh3yzfz", templateParams)
        .then(function (response) {
            console.log('SUCCESS!', response.status, response.text, fname, lname, email, guests);
        }, function (error) {
            console.log('FAILED...', error);
        });
}

</script> -->


{%endblock%}