{% extends "base.html" %}

{% block content %}

<h2>Manage Bookings</h2>

<!-- <p>Your Username is : {{user}} </p>
<p>Your User Id is  : {{user.id}} </p> -->

<div class="window">
        <table class="table table-md">
                <tr>
                        <th>Date & Time</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Location</th>
                        <th>Quantity</th>
                        <th>Amend</th>
                        <th>Remove</th>
                </tr>
                {% for booking in bookings %}
                <tr>
                        <td>{{ booking.date}}</td>
                        <td>{{ booking.fname}}</td>
                        <td>{{ booking.lname}}</td>
                        <td>{{ booking.location}}</td>
                        <td>Table for {{ booking.quantity}}</td>
                        <td><a button type="button" class="btn btn-dark"
                                        href="{% url 'update_booking' booking.id %}">Update</button></a></td>
                        <td><a button type="button" class="btn btn-danger"
                                        href="{% url 'delete_booking' booking.id %}">Delete</button></a></td>
                </tr>
                {% endfor %}
        </table>

        <!-- formats the date on display -->

        <!-- <table class="table table-md">
                <tr>
                        <th>Date & Time</th>
                </tr>
                {% for booking in bookings %}
                <tr>
                        <td>{{ booking.date|date:'D-d-M-y' }}</td>
                </tr>
                {% endfor %}
        </table> -->

        {%endblock%}