{% extends "base.html" %}

{% block content %}

<h2>Manage Bookings</h2>

<div class="window">
    {% for booking in bookings %}
    <div class="booking-data">

        <p><input type="checkbox" id="booking1" name="booking1" value="booking1">
            <label for="booking1">{{ booking.date}} | {{ booking.fname }} {{ booking.lname }} |
                {{ booking.location }} | Table for {{ booking.quantity }}</label>
        </p>

        <p>{{ booking.date}} | {{ booking.fname }} {{ booking.lname }} |
                {{ booking.location }} | Table for {{ booking.quantity }} <button type="button" class="btn btn-dark">Update</button><button type="button" class="btn btn-danger">Delete</button>
        </p>

        {% endfor %}
    </div>
    <button type="submit" class="btn btn-window-button">Cancel</button>
</div>

{%endblock%}