{% extends "base.html" %}

{% block content %}

<h2>Update Booking</h2>

<div class="window">

    <form id="booking-form" action="" method="POST">
        <!-- onsubmit="return sendMail(this);"> -->
        {% csrf_token %}
        <ul class="booking-list">

            {{ form.username }}

            <label for="location" class="form-label">Location:</label>
            <li id="location" class="form-input">{{ form.location }}</li>

            {% for error in form.location.errors %}
            <p>{{ error }}</p>
            {% endfor %}

            <label for="date_time" class="form-label">Date & Time:</label>
            <li id="date_time" class="form-input">{{ form.date }}</li>

            {% for error in form.date.errors %}
            <p>{{ error }}</p>
            {% endfor %}

            <label for="guests" class="form-label">Number of guests:</label>
            <li id="guests" class="form-input">{{ form.quantity }}</li>

            <label for="fname" class="form-label">First Name:</label>
            <li id="fname" class="form-input">{{ form.fname }}</li>

            <label for="lname" class="form-label">Last Name:</label>
            <li id="lname" class="form-input">{{ form.lname }}</li>

            <label for="email" class="form-label">Email Address:</label>
            <li id="email" class="form-input">{{ form.email }}</li>

        </ul>
        
        <button type="submit" class="btn btn-action" value="submit">Update Booking</button>
    </form>

</div>

<script>
    var username = "{{ user.id }}";
    document.getElementById("user_id").value = username;

    var email = "{{ user.email }}";
    document.getElementById("user_email").value = email;
</script>

{%endblock%}