{% load static %}

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ace of Steaks</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/5507f4abfd.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function () {
            emailjs.init("user_7sfb2Kx6So2zrBYpxlZXY");
        })();
    </script>

</head>

<body>
    <div class="container-fluid">


        <!--Nav-->

        <div class="row">


            <div class="col-12 col-md-3 col-lg-3">
                <section class="navbar-column">
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                        {{ message | safe }}
                    </div>
                    {% endfor %}
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="fa-solid fa-bars d-md-none"></span></button>

                    <div class="collapse nav-collapse d-md-block" id="navbarNavDropdown">
                        <div>
                            <hr class="logo-bar">
                            <a href="/">
                                <h1>Ace of<br>Steaks</h1>
                            </a>
                            <hr class="logo-bar">
                        </div>


                        <!--collapsable Nav-->
                        <div class="navbar navbar-light navbar-expand-sm">

                            <ul class="nav flex-column">
                                {% with url_name=request.resolver_match.url_name %}
                                <li class="nav-item">
                                    <a class="nav-link {% if url_name == 'home' %} nav-link current {% endif %}"
                                        aria-current="page" href="/">Home</a>
                                </li>
                                {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link {% if url_name == 'account_logout' %} nav-link current {% endif %}"
                                        href="{% url 'account_logout' %}">Log Out</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if url_name == 'add_booking' %} nav-link current {% endif %}"
                                        href="{% url 'add_booking' %}">Book A Table</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if url_name == 'manage_booking' %} nav-link current {% endif %}"
                                        href="{% url 'manage_booking' %}">Manage Booking</a>
                                </li>
                                {% else %}
                                <li class="nav-item">
                                    <a class="nav-link {% if url_name == 'account_signup' %} nav-link current {% endif %}"
                                        aria-current="page" href="{% url 'account_signup' %}">Register</a>
                                </li>
                                <li class="nav-item">
                                    <!-- <a href class="nav-link" data-toggle="modal" data-target="#signInModal">Sign In</a> -->
                                    <a class="nav-link {% if url_name == 'account_login' %} nav-link current {% endif %}"
                                        href="{% url 'account_login' %}">Sign In</a>

                                </li>
                                {% endif %}
                                <li class="nav-item">
                                    <a class="nav-link {% if url_name == 'menu' %} nav-link current {% endif %}"
                                        href="{% url 'menu' %}">Menu</a>
                                </li>
                                {% endwith %}
                            </ul>
                        </div>

                        <section class="opening-times">
                            <div class="opening-times-title">
                                <!-- <hr class="times-bar"> -->
                                <h3>Opening Times</h3>
                                <!-- <hr class="times-bar"> -->
                            </div>
                            <div class="opening-times-text">
                                Mon - Sat - 11.00am - 11.00pm
                                <br>
                                Sun - 12.00pm - 8.00pm
                            </div>
                        </section>
                        <section class="social">
                            <ul>
                                <li><a href="https://facebook.com" target="_blank" rel="noopener"
                                        aria-label="Visit our Facebook page (opens in new tab)"><i
                                            class="fab fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com" target="_blank" rel="noopener"
                                        aria-label="Visit our Twitter page (opens in new tab)"><i
                                            class="fab fa-twitter"></i></a></li>
                                <li><a href="https://instagram.com" target="_blank" rel="noopener"
                                        aria-label="Visit our Instagram page (opens in new tab)"><i
                                            class="fab fa-instagram"></i></a>
                                </li>

                            </ul>


                        </section>
                    </div>
            </div>


            <div class="col-12 col-md-9 col-lg-9">
                <section class="column-2">
                    {% block content %}
                    <!-- Content Goes here -->
                    {% endblock content %}
            </div>
        </div>





    </div>


    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 3000);
    </script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>

</body>

</html>