{% extends "base.html" %}

{% block content %}

<h2>Manage Bookings</h2>

<div class="window">
    {% for booking in booking_list %}
    <div class="booking-data">
    <p>hi</p>
        <p><input type="checkbox" id="booking1" name="booking1" value="booking1">
            <label for="booking1">{{ booking.booking_date}} | {{ booking.booking_fname }} {{ booking.booking_lname }} |
                {{ booking.booking_location }} | Table for {{ booking.booking_quantity }}</label>
        </p>

        {% endfor %}
    </div>
    <button type="submit" class="btn btn-sign-in">Cancel</button>
</div>

{%endblock%}