{% extends "base.html" %}

{% block content %}

<section class="callout text-center">

    <hr class="welcome-bar">
    <h1>Welcome to<br>Ace of Steaks</h1>
    <hr class="welcome-bar">
    <h4>Ace of Steaks is known for exceptional steak located in only three cities in the
        UK.

        <p>Our premium meats are sourced daily from the finest local suppliers sold by weight rather
            than cut, ensuring a unique experience upon each visit.</p>

        Cooked over a charcoal grill for a distinctively rich and smoky flavour, our mouth-watering
        steaks are complimented with a seasonal selection of innovative dishes.
        <br>
        <a href="{/bookings/add/}"><button class="btn btn-l mt-4 btn-book">Book a Table!</button></h4></a>


</section>

{%endblock%}