{% extends "base.html" %}

{% block content %}

<h2>Welcome</h2>

<div class="window">

    <h4>Ace of Steaks is known for exceptional steak located in only three cities in the
        UK.
        <br><br>
        Cooked over a charcoal grill for a distinctively rich and smoky flavour, our mouth-watering
        steaks are complimented with a seasonal selection of innovative dishes.</h4>
        <div class="index-buttons">
        <a href="{% url 'menu' %}"><button class="btn btn-l mt-4 btn-action">See our menu</button></h4></a>
        </div>


</div>

{%endblock%}

