{% extends "base.html" %}

{% block content %}

<h2>Sample Menu</h2>
<div class="window">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" data-toggle="pill" href="#starters">Starters</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#mains">Mains</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#sides">Sides</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#desserts">Desserts</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="starters" class="tab-pane fade in active show">
            <table>
                <tr>
                    <td class="menu-item">Salt & Pepper Calamari</td>
                    <td class="price">£6.95</td>
                </tr>
                <tr>
                    <td class="menu-description" colspan="2">Lemon garlic aioli.</td>
                </tr>
                <tr>
                    <td class="menu-item">Sticky Chiptole Chicken</td>
                    <td class="price">£5.45</td>
                </tr>
                <tr>
                    <td class="menu-description" colspan="2">Sweet chipotle chilli-glazed chicken
                        bites,
                        toasted sesame seeds.</td>
                </tr>
                <tr>
                    <td class="menu-item">Prawn & Crayfish Cocktail</td>
                    <td class="price">£5.99</td>
                </tr>
                <tr>
                    <td class="menu-description" colspan="2">Avocado, samphire, baby gem lettuce,
                        zesty
                        citrus yoghurt dressing.</td>
                </tr>
                <tr>
                    <td class="menu-item">Chicken Wings</td>
                    <td class="price">£5.80</td>
                </tr>
                <tr>
                    <td class="menu-description" colspan="2">Succulent chargrilled wings in a BBQ
                        sauce.
                    </td>
                </tr>
                <tr>
                    <td class="menu-item">Pan-Seared Scallops</td>
                    <td class="price">£7.25</td>
                </tr>
                <tr>
                    <td class="menu-description" colspan="2">White wine, Prosecco & seafood sauce,
                        peas,
                        crispy pancetta, straw fries.</td>
                </tr>
                <tr>
                    <td class="menu-item">Chilli Nachos</td>
                    <td class="price">£7.55</td>
                </tr>
                <tr>
                    <td class="menu-description" colspan="2">Tortilla chips topped with melted
                        cheese,
                        salsa, sour cream, guacamole & minced beef con carne sauce</td>
                </tr>
            </table>
        </div>

        <div id="mains" class="tab-pane fade">
            <p class="menu-disclaimer">All main courses are served with triple cooked chips, grilled tomato & mixed
                salad.
            </p>
            <table>
                <tr>
                    <td class="menu-item">Ribeye
                    </td>
                    <td class="price">£24.95</td>
                </tr>
                <tr>
                    <td class="menu-description" colspan="2">10oz - Delicately marbled throughout
                        for superb, full-bodied flavour.</td>
                </tr>
                <tr>
                    <td class="menu-item">Fillet</td>
                    <td class="price">£29.90</td>
                </tr>
                <tr>
                    <td class="menu-description" colspan="2">8oz - Lean & tender with
                        a subtle flavour.</td>
                </tr>
                <tr>
                    <td class="menu-item">Sirloin</td>
                    <td class="price">£24.80</td>
                </tr>
                <tr>
                    <td class="menu-description" colspan="2">12oz - Tender yet succulent with
                        a strip of juicy crackling.</td>
                </tr>
                <tr>
                    <td class="menu-item">Rump</td>
                    <td class="price">£23.75</td>
                </tr>
                <tr>
                    <td class="menu-description" colspan="2">8oz - A firm texture & rich flavour
                    </td>
                </tr>
                <tr>
                    <td class="menu-item">T-Bone</td>
                    <td class="price">£25.60</td>
                </tr>
                <tr>
                    <td class="menu-description" colspan="2">20oz - On one side a tender fillet, on the other a
                        flavoursome sirloin.</td>
                </tr>
            </table>
        </div>
        <div id="sides" class="tab-pane fade">
            <table>
                <tr>
                    <td class="menu-item">Truffle Mac & Cheese
                    </td>
                    <td class="price">£6.20</td>
                </tr>
                <tr>
                    <td class="menu-description" colspan="2">Truffle, mozzarella, taleggio, gruyere,
                        parmesan herb crumb.</td>
                </tr>
                <tr>
                    <td class="menu-item">King Oyster Mushrooms</td>
                    <td class="price">£6.45</td>
                </tr>
                <tr>
                    <td class="menu-description" colspan="2">Pan fried with a chilli, garlic & chive dressing.</td>
                </tr>

                <tr>
                    <td class="menu-item">Sweet Potato Fries</td>
                    <td class="price">£3.90</td>
                </tr>
                <tr>
                    <td class="menu-description" colspan="2">Roughly cut sprinkled with sea salt.</td>
                </tr>
                <tr>
                    <td class="menu-item">Charcoal-Grilled Corn on the Cob
                    </td>
                    <td class="price">£4.75</td>
                </tr>
                <tr>
                    <td class="menu-description" colspan="2">Topped with
                        smoky chilli ketchup, 18-month-matured
                        Parmesan & coriander.</td>
                </tr>
                <tr>
                    <td class="menu-item">Sauteed Scallops & Prawns</td>
                    <td class="price">£6.90</td>
                </tr>
                <tr>
                    <td class="menu-description" colspan="2">A delicious mixture of the scallops & prawns in a garlic &
                        herb butter.</td>
                </tr>
                <tr>
                    <td class="menu-item">Seasonal Greens</td>
                    <td class="price">£5.10</td>
                </tr>
                <tr>
                    <td class="menu-description" colspan="2">Peas, Brocolli, Carrots & Red Cabbage</td>
                </tr>
            </table>
        </div>
        <div id="desserts" class="tab-pane fade">
            <table>
                <tr>
                    <td class="menu-item">Chocolate Brownie
                    </td>
                    <td class="price">£5.50</td>
                </tr>
                <tr>
                    <td class="menu-description" colspan="2">Moist, rich brownies with hot fudge, ice cream & chocolate
                        & caramel sauces.</td>
                </tr>
                <tr>
                    <td class="menu-item">New York Cheesecake</td>
                    <td class="price">£5.75</td>
                </tr>
                <tr>
                    <td class="menu-description" colspan="2">A New York style vanilla cheesecake served with fresh
                        cream.</td>
                </tr>

                <tr>
                    <td class="menu-item">Apple Crumble</td>
                    <td class="price">£5.10</td>
                </tr>
                <tr>
                    <td class="menu-description" colspan="2">
                        Topped with ice cream, apple compote & caramel sauce.</td>
                </tr>
                <tr>
                    <td class="menu-item">Sticky Toffee Pudding
                    </td>
                    <td class="price">£4.90</td>
                </tr>
                <tr>
                    <td class="menu-description" colspan="2">Rich salted butterscotch sauce & ice cream.</td>
                </tr>
                <tr>
                    <td class="menu-item">Banoffee Pie</td>
                    <td class="price">£5.15</td>
                </tr>
                <tr>
                    <td class="menu-description" colspan="2">Biscuit base, rich toffee, cream & caramelised bananas.
                    </td>
                </tr>
                <tr>
                    <td class="menu-item">Crème Brûlée</td>
                    <td class="price">£5.60</td>
                </tr>
                <tr>
                    <td class="menu-description" colspan="2">Madagascan vanilla-glazed brûlée, served with a vanilla
                        biscuit & fresh berries</td>
                </tr>
            </table>
        </div>
    </div>
    </section>

</div>

{%endblock%}