{% extends "base.html" %}

{% block content %}

<h2>Register</h2>
<div class="window">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" data-toggle="pill" href="#details">Details</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="details" class="tab-pane fade in active show">
            <form id="register-form">

                <label for="fname" class="form-label">First Name:</label>
                <input type="text" class="form-input" id="fname" name="fname" required>

                <label for="lname" class="form-label">Last Name:</label>
                <input type="text" class="form-input" id="lname" name="lname" required>

                <label for="email" class="form-label">Email Address:</label>
                <input type="email" class="form-input" id="email" name="email" required>

                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-input" id="password" name="password" required>

                <button type="submit" class="btn btn-booking-table" onclick="submit()"
                    value="Reset form">Create account</button>
            </form>
        </div>


    </div>
</div>

{%endblock%}